.body {
    background-color: #0ab3b3;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: springgreen;
    height: 700px;
    border:solid 2px purple;
}
.M1 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   width: 350px;
    height: 580px;
    background-color: #d467b0;
    border: dashed 5px #3511e8;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px grey;
}

.M2{
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   width: 350px;
    height: 580px;
    background-color: #d467b0;
    border: solid 5px #3511e8;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px grey;
}

.M3{
   display: flex;
   flex-direction: column-reverse;
   justify-content: start;
   align-items: end;
   width: 350px;
    height: 580px;
    background-color: #d467b0;
    border: dashed 5px #3511e8;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px grey;
}
.movie-card:hover{
    width: 450;
}
.movie-img{
    height: 250px;
    width: 300px;
    padding: 10px;
    border-radius: 60px;
    box-shadow: rgb(24, 212, 74);
}

h1{
text-shadow: 1.5px 1.5px;
color:#b30047;
display: flex;
margin: 0px 13px;
padding: 10px;
}
h3{
text-shadow: 2px 2px;
color:#0000cc;
text-align: center;
margin-right: 10px;
font-size: 30px;
}
.playbtn
{
margin: 0px 15x;
}